# Ignore Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
[Bb]in/
[Oo]bj/

# Ignore Visual Studio Code settings (if using VS Code)
.vscode/

# Ignore Visio files
*.vsdx

# Ignore NuGet packages
packages/
*.nupkg

# Ignore other common artifacts
*.log

__pycache__/
*.py[cod]
