<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ToDo tasks</title>
    <link rel="stylesheet" href="../../static/app/content/style.css">
</head>
<body>
    <h1>Edit <span style="color:white">To</span>Do tasks</h1>

    <div id="taskForm">
        <input type="text" id="newTaskInput" placeholder="Enter a new task">
        <button id="addTaskBtn">Add Task</button>
    </div>

    <ul id="taskList">
        <!-- zadania z przyciskami do edycji/usuwania -->
    </ul>

    <script src="../../static/app/scripts/edit.js"></script>
</body>
</html>
