<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="../../static/app/content/style.css">
</head>
<body>
    <h1><span style="color:white">To</span>Do List</h1>

    <!-- Link do strony edycji -->
    <p>
        <a href="/edit/">Edit ToDo tasks</a>
    </p>

    <!-- Przycisk wylogowania -->
    <button id="logoutBtn">Logout</button>

    <ul id="taskList">
        <!-- Zadania będą dynamicznie wstawiane tutaj -->
    </ul>

    <script src="../../static/app/scripts/list.js"></script>
</body>
</html>
